<div class="blog-article">

    <div class="blog-article-controls">

        <button
            type="button"
            class="blog-icon-btn edit"
            (click)="onEdit()"
        >
            ✎
        </button>

        <button
            type="button"
            class="blog-delete"
            (click)="onDelete()"
        >
            ✕
        </button>

    </div>

    <img
        src="images/blank.svg"
        alt="Фото статьи"
    />

    <div class="blog-content">

        <p class="blog-text">
            {{ article().title }}
        </p>

        <p class="blog-date">
            Опубликовано: {{ article().date }}
        </p>

    </div>

</div>