<footer id="contacts">
    <div class="footer-wrapper">
        <a class="footer-head">Say hello and let's work together !</a>
        <div class="footer-contacts-container">
            <div class="footer-contacts">
                <div> Email: <a href="mailto: alex@creativeblog.ru">alex@creativeblog.ru</a> </div>
                <div> Телефон: <a href="tel:+79991234567">+7 (999) 123-45-67</a> </div>
                <div class="footer-links">
                    <img src="images/vk.svg" />
                    <img src="images/tg.svg" />
                    <img src="images/git.svg" />
                </div>
            </div>
        </div>
        <div class="footer-form-wrapper">
            <form>
                <div class="footer-email-form">
                    <label for="text-mail" class="footer-email-label">Email</label>
                    <input type="email" id="text-mail" class="footer-mail" placeholder="Your email address" />
                </div>
                <div class="footer-message-form">
                    <label for="text-message">Input your message</label>
                    <textarea class="footer-message" id="text-message" placeholder="Describe your project"></textarea>
                </div>
            </form>
            <a class="footer-submit-button">Submit</a>
        </div>
    </div>
</footer>