@if (latestArticles().length) {

  <section class="article-container">

    @for (
      article of latestArticles();
      track article.id
    ) {

      <a
        class="article"
        [routerLink]="[
          '/blog',
          article.id
        ]"
      >

        <div class="article-content">

          <h2 class="article-header">
            {{ article.title }}
          </h2>

          <span class="article-pub-date">
            {{ article.date }}
          </span>

          <p class="article-description">
            {{ article.text }}
          </p>

        </div>

        <div class="article-image">

          <img
            src="images/blank.svg"
            alt="Article image"
          />

        </div>

      </a>

    }

    <a
      routerLink="/blog"
      class="article-navigate-button"
    >
      Смотреть все статьи
    </a>

  </section>

}