.courses-description {
    box-sizing: border-box;
    gap: 10px;
    grid-column: 2;
    font-weight: 300;
    font-size: clamp(20px, 2vw, 32px);
    line-height: 63px;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
