<div class="article-container">
  <article class="article" *ngFor="let article of articles(); trackBy: trackById">
    <div class="article-content">
      <h4 class="article-header">{{ article.title }}</h4>
      <p class="article-pub-date">Дата: {{ article.date }}</p>
      <p class="article-description">{{ article.description }}</p>
    </div>
    <div class="article-image">
      <img src="images/blank.svg" alt="Фото статьи" />
    </div>
  </article>

  <a routerLink="/blog" class="article-navigate-button">Дальше</a>
</div>