<header>
    <nav>
        <div class="header-wrapper">
            <a class="header-name" routerLink="/">Denis-Folio</a>
            <div class="header-nav">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="header-button">About</a>
                <a routerLink="/blog" routerLinkActive="active" class="header-button">Blog</a>
                <a href ="#contacts" fragment="contacts" class="header-button">Contact</a>
            </div>
        </div>
    </nav>
</header>