.header-wrapper {
    width: min(100%, 1200px);
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto;
}

.header-name {
    font-weight: 500;
    font-size: clamp(18px, 2vw, 28px);
    line-height: 36px;
    color: var(--color-title);
    grid-column: 1;

}

.header-nav {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header-button {
    font-weight: 400;
    font-size: clamp(14px, 1.2vw, 16px);
    line-height: 18px;
    color: var(--color-muted);
    transition: 0.5s;
}

.header-button:hover {
    font-weight: 500;
    color: var(--color-accent);

}

.header-button.active {
    font-weight: 500;
    color: var(--color-accent);
}
