<div class="my-container">
    <h2 class="my-header">Навыки:</h2>
    <div class="skills-description">
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>React</span>
        <span>Vue.js</span>
        <span>HTML5 </span>
        <span>CSS3 </span>
        <span>Node.js</span>
        <span>Git</span>
        <span>Webpack</span>
        <span>Docker</span>
        <span>Figma </span>
        <span>VS Code</span>
        <span>Agile </span>
        <span>Scrum </span>
        <span>Test-Driven Development</span>
    </div>

</div>