
.career-header-wrapper {
    box-sizing: border-box;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.career-header-discription {
    font-weight: 400;
    font-size: clamp(14px, 2vw, 21px);
    line-height: 25px;
    color: #323743;
}

.job-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.job-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.job-logo {
    box-sizing: border-box;
    padding: 10px;
    max-width: 100px;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.job-wrapper {
    padding: 10px;
    border-bottom: 2px solid #BDC1CA;
}

.job-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #323743;
}

.job-discription {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #323743;
}

.job-vacancy {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #323743;
}
