.education-description {
    gap: 25px;
    grid-column: 2;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #323743;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.education-university {
    font-weight: 500;
    font-size: clamp(20px, 2vw, 30px);
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #323743;
}

.education-spec {
    padding-top: 20px;
    font-weight: 200;
    font-size: clamp(20px, 2vw, 30px);
    line-height: 25px;
    color: #68686A;
}
