.hobby-container {
    display: grid;
    padding: 5vh;
}

.hobby-header {
    grid-column: 1;
    padding: 3vh;
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    color: #323743;
}

.hobby-header-description {
    padding: 3vh;
    grid-column: 2;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #323743;
}

.hobby-image-wrapper {
    display: grid;
    grid-row: 2 / 4;
    grid-template-columns: repeat(2, 50vh);
    height: 550px;
    overflow: hidden;
    gap: 20px;
}

.hobby-card {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.hobby-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hobby-image-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 55, 67, 0.8);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hobby-card:hover .hobby-image-description {
    opacity: 1;
}

.hobby-image-description-content {
    padding: 2vh;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.hobby-blank:hover .hobby-blank-description {
    opacity: 1;
}

.hobby-blank-container {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    padding-left: 3vh;
}

.hobby-blank {
    position: relative;
    width: 100%;
    height: 265px;
    margin-bottom: 20px;
    overflow: hidden;
}

.hobby-blank-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hobby-blank-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 55, 67, 0.8);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hobby-blank:hover .hobby-blank-description {
    opacity: 1;
}

.hobby-blank-description-content {
    padding: 2vh;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


@media (max-width: 1300px) {
    .hobby-image-wrapper {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }

    .hobby-blank-container {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column: auto;
        grid-row: auto;
    }

    .hobby-container {
        display: flex;
        flex-direction: column;
    }

    .hobby-header,
    .hobby-header-description,
    .hobby-blank-container {
        grid-column: auto;
        grid-row: auto;
        width: 100%;
    }
}