@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'about.css';
@import 'career.css';
@import 'education.css';
@import 'courses.css';
@import 'skills.css';
@import 'achievements.css';
@import 'article.css';
@import 'hobby.css';
@import 'blog.css';

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter';
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.01em;
  box-sizing: border-box;
}

.my-header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(28px, 2vw, 52px);
  line-height: 63px;
  color: #323743;
}

.my-container {
  padding: 5vh;
  display: grid;
  grid-template-columns: 700px auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  animation: fadeIn 2s ease-out;
}

.myblog-image {
  position: absolute;
  left: 49.38%;
  right: 35.83%;
  top: 15vw;
  z-index: 999;
  pointer-events: none;
  animation: fadeIn 1s ease-out;
}

.myblog-image.blog {
  position: absolute;
  left: 75%;
  top: 5vw;
  z-index: 999;
  pointer-events: none;
}

.my-header.blog {
  font-weight: 800;
  margin-bottom: 30px;
  font-size: clamp(50px, 2vw, 19px);
  line-height: 63px;
  display: block;
  justify-self: center;
  color: #323743;
}

@media (max-width: 780px) {
  .myblog-image{
    animation: fadeOut 1s ease;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}